@import '../variables';

.game-board {
  position: relative;
  max-width: 500px;
  margin: $spacing-unit * 20 auto;
  min-height: 400px;
  .choices {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .triangle, .pentagon {
      position: absolute;
      z-index: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .choice-buttons {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 400px;
    }
  }
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media screen and (max-width: $sm-breakpoint) {
  .game-board {
    min-height: 300px;
    margin: $spacing-unit * 20 auto;
    .triangle {
      width: 242px;
      height: 220px;
    }
    .pentagon {
      width: 250px;
      height: 250px;
    }
    .choices {
      .choice-buttons {
        min-height: 270px;
      }
    }
  }
}  
@media screen and (max-width: $xs-breakpoint) {
  .game-board {
    .triangle {
      width: 222px;
      height: 200px;
    }
    .pentagon {
      width: 250px;
      height: 250px;
    }
  }
}  
@media screen and (max-width: $xxs-breakpoint) {
  .game-board {
    .triangle {
      width: 200px;
      height: 178px;
    }
    .pentagon {
      width: 250px;
      height: 250px;
    }
  }
} 
/* ---------- RESPONSIVE DESIGN ---------- */