@import '../variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $spacing-unit * 8 $spacing-unit * 12;
  padding: $spacing-unit * 6;
  border: 3px solid $header-outline;
  border-radius: $radius-lg;
  .logo {
    img {
      height: 120px;
      object-fit: contain;
      margin: 0 auto;
    }
  }
  .score-board {
    background: $white;
    padding: $spacing-unit * 3.5 $spacing-unit * 10;
    border-radius: $radius-md;
    text-align: center;
    .score-label {
      color: $score-text;
      font-size: $font-size-base * 1.2;
      font-weight: $font-bold;
      text-transform: uppercase;
    }
    .score-value {
      color: $dark-text;
      font-size: $font-size-base * 3.5;
      line-height: 1;
    }
  }
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media screen and (max-width: $md-breakpoint) {
  .header {
    margin: $spacing-unit * 2 $spacing-unit * 4;
    padding: $spacing-unit * 4;
    border-radius: $radius-md;
    .logo {
      img {
        width: 80px;
        height: 70px;
      }
    }
    .score-board {
      background: $white;
      padding: $spacing-unit * 1 $spacing-unit * 5;
      border-radius: $radius-sm;
      .score-label {
        font-size: $font-size-base * 0.75;
      }
      .score-value {
        font-size: $font-size-base * 2;
      }
    }
  }
} 
/* ---------- RESPONSIVE DESIGN ---------- */